body{
    font-family: sans-serif;
}
.container{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 50px);
    gap: 10px;
    display: grid;
    width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
h1,p{
    margin: 0;
    text-align: center;
}
p{
    margin-bottom: 30px;
}
.a{
    background-color: #2E0249;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 15px;
}
.b{
    background-color: #2E0249;
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 15px;
}
.c{
    background-color: #570A57;
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 15px;
}
.d{
    grid-column: 2/4;
    grid-row: 2/4;
    background-color: #570A57;
    border-radius: 15px;
}
.e{
    grid-row: 3/4;
    grid-column: 4/5;
    background-color: #570A57;
    border-radius: 15px;
}
.f{
    background-color: #570A57;
    grid-column: 5/6;
    grid-row: 3/4;
    border-radius: 15px;
}
.g{
    background-color: #2E0249;
    grid-column: 5/6;
    grid-row: 2/3;
    border-radius: 15px;
}

.h{
    background-color: #570A57;
    grid-column: 2/3;
    grid-row: 4/5;
    border-radius: 15px;
}
.i{
    background-color: #2E0249;
    grid-column: 3/4;
    grid-row: 4/5;
    border-radius: 15px;
}
.j{
    background-color: #570A57;
    grid-column: 4/6;
    grid-row: 4/6;
    border-radius: 15px;
}
.k{
    background-color: #570A57;
    grid-column: 2/3;
    grid-row: 5/6;
    border-radius: 15px;
}
.l{
    background-color: #2E0249;
    grid-row: 5/6;
    grid-column: 3/4;
    border-radius: 15px;
}
.m{
    
    border-radius: 15px;
    background-color: #2E0249;
    grid-column: 2/3;
    grid-row: 6/7;
}
.n{
    background-color: #570A57;
    grid-column: 3 / 5;
    grid-row: 6/8;
    border-radius: 15px;
}
.o{
    background-color: #2E0249;
    grid-column: 5/6;
    grid-row: 6/7;
    border-radius: 15px;
}
.p{
    background-color: #2E0249;
    grid-column: 6/7;
    grid-row: 6/7;
    border-radius: 15px;
}
.q{
    background-color: #570A57;
    grid-column: 5/6;
    grid-row: 7/8;
    border-radius: 15px;
}
.r{
    background-color: #2E0249;
    grid-column: 4/5;
    grid-row: 8/9;
    border-radius: 15px;
}